<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/static/favicon.ico">
<!-- Fontawesome icon CSS -->
<link rel="stylesheet" href="/static/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/static/vendor/bootstrap4alpha/css/bootstrap.css" type="text/css">

<!-- swipebox CSS -->
<link href="/static/vendor/masonry_swipebox/swipebox.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/dark_blue_adminux.css" type="text/css">
</head>
<body class="menuclose menuclose-right">
<header class="navbar-fixed">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <div class="sidebar-left">
    <button class="btn btn-link icon-header mr-sm-2 pull-left menu-collapse" ><span class="fa fa-bars"></span></button>
  </div>
  <div class="sidebar-left"> <a class="navbar-brand" href="/problem/follow_list/">关注 </a>
  </div>
    <div class="sidebar-left"> <a class="navbar-brand" href="/problem/recommend_list/"> 推荐 </a>
  </div>
    </div>
    <div class="sidebar-left"> <a class="navbar-brand" href="/problem/hot_list/"> 热榜 </a>
  </div>
</nav>

</header>
<div class="sidebar-left">
<br>
<ul class="nav flex-column in" id="side-menu">
    <li class="title-nav"><a href="/member/index/">首页</a></li>
    <li class="title-nav"><a href="/problem/set_problem/">提问发布</a></li>
  <li class="title-nav"><a href="/problem/my_follow/">我的关注</a></li>
  <li class="title-nav"><a href="/problem/collection_list/">我的收藏</a></li>
  <li class="title-nav"><a href="/problem/recent_browse/">最近浏览</a></li>
</ul>
<hr>
    <ul class="nav flex-column in" id="side-menu">
        <li class="title-nav"><a href="/problem/dynamic_message/">动态消息</a></li>
  <li class="title-nav"><a href="/problem/message/">私信</a></li>
          <li class="title-nav"><a href="/problem/dynamic_message/">动态消息</a></li>
</ul>
</div>

<div class="wrapper-content">
      <div class="container">
          {% for item in follow %}
<div class="card-block">
            <div class="list-unstyled member-list row">
              <div class="col-lg-4 col-sm-8 col-xs-16 ">
                <div class="media flex-column ">
                  <div class="media-body">
                    <h6 class="mt-0 mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.follow_member.name }}</font></font></h6><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    </font></font><p class="description"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ item.follow_member.phone }}</font></font></p>
                  </div>
                </div>
              </div>
                {% endfor %}
            </div>
          </div>
          </div>
        </div>




<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/static/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/static/vendor/bootstrap4alpha/js/tether.min.js"></script>
<script src="/static/vendor/bootstrap4alpha/js/bootstrap.min.js" type="text/javascript"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>  <!-- Circular chart progress js -->
<script src="/static/vendor/cicular_progress/circle-progress.min.js" type="text/javascript"></script>

<!--sparklines js-->
<script type="text/javascript" src="/static/vendor/sparklines/jquery.sparkline.min.js"></script>

<!-- Gallery and swipebox JavaScript -->
<script src="/static/vendor/masonry_swipebox/jquery.swipebox.js"></script>
<script src="/static/vendor/masonry_swipebox/masonry.pkgd.min.js"></script>

<!-- custome template js -->
<script src="/static/js/adminux.js" type="text/javascript"></script>

<!-- page level js -->
<script src="/static/js/gallery.js" type="text/javascript"></script>
</body>
</html>